<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="dist/css/bootstrap.min.css" rel="stylesheet">
<link href="css/carousel.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Encode+Sans:400,500,600&amp;display=swap" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
<title>JC JUICE-LAYOUT</title>
</head>

<body>

<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-toppp cust-top bg-darkkk cust-bg">
    <a class="navbar-brand cust-font" href="#">JC</a>
    <button class="navbar-toggler cust-border" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto cust-navfont">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#nav1">About</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link" href="#nav2">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#nav3">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#nav4">Contact</a>
        </li>
      </ul>
      <!--<form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>-->
    </div>
  </nav>
</header>

<main role="main" class="cust-wholeslider">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!--{% include icons/placeholder.svg width="100%" height="100%" background="#777" color="#777" text=" " title=" " %}-->
        <div class="slider slider1">
    	 <div class="container">
          <div class="carousel-caption text-lefttt cust-caption">
            <h1>MADE FOR YOU JUICES</h1>
            <p><a class="btn btn-lggg btn-primary cust-btn-main" href="#" role="button">READ MORE</a></p>
            
          </div>
         </div>
         <span class="order-now">ORDER  NOW : 32445777</span>
        </div><!--end of slider slider1-->
        
      </div><!--end of carousel-item active-->
      
      
      <div class="carousel-item">
        <!--{% include icons/placeholder.svg width="100%" height="100%" background="#777" color="#777" text=" " title=" " %}-->
        <div class="slider slider2">
        <div class="container">
          <div class="carousel-caption text-right">
            <h1>Daily fruit eating habit.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lggg btn-primary cust-btn" href="#" role="button">MENU</a></p>
          </div>
        </div>
        </div><!--end of slider slider2-->
      </div><!---end of carousel-item-->
      
      
      <div class="carousel-item">
        <!--{% include icons/placeholder.svg width="100%" height="100%" background="#777" color="#777" text=" " title=" " %}-->
        <div class="slider slider3">
        <div class="container">
          <div class="carousel-caption text-right">
            <h1>Lemon a good add on.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lggg btn-primary cust-btn" href="#" role="button">GALLERY</a></p>
          </div>
        </div>
        </div><!--end of slider slider3-->
      </div><!--end of carousel-item-->
    </div><!--end of carousel-inner-->
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketinggg">

    <!-- Three columns of text below the carousel -->
    <div class="row" id="nav1">
    	<div class="col-lg-6">
         <div class="inner-col-lg-6">
        <h2 class="cust-col-h2">MIXED FRUIT SMOOTHIE WITH EXTRA PUNCH</h2>
        <p class="cust-p">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "<span class="word-highlight">de Finibus Bonorum et Malorum</span>" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
         </div><!--end of inner-col-lg-6-->
        </div><!-- end of col-lg-7-->
        
        <div class="col-lg-6">
        <img src="images/4-juice_with_fruits.png" width="677" height="552" class="img-fluid"> 
        </div><!-- end of col-lg-5-->

    </div><!-- /.row -->
  </div><!-- /.container --> <!--that is container marketinggg-->

    <!-- START of GREAT OPTIONS TO CHOOSE -->
	<div class="container-fluid cust-fluid">
    <div class="container">
    <div class="row cust-row-pad">
    	<h1 class="cust-h1">GREAT OPTIONS TO CHOOSE</h1>
      <div class="col-lg-3 col-sm-6 text-center">
      <img src="images/5-beeryblast.jpg" class="roundeddd cust-round img-fluid">
      <span class="cust-label">Berry Blast</span>
      <span class="label-rs">Rs.90</span>
      </div> 
      
      <div class="col-lg-3 col-sm-6 text-center">
      <img src="images/6-orange.jpg" class="roundeddd cust-round img-fluid">
      <span class="cust-label">Orange Fun</span>
      <span class="label-rs">Rs.50</span>
      </div>
      
      <div class="col-lg-3 col-sm-6 text-center">
      <img src="images/7-milksmoothie.jpg" class="roundeddd cust-round img-fluid">
      <span class="cust-label">Milk Smoothie</span>
      <span class="label-rs">Rs.100</span>
      </div>
      
      <div class="col-lg-3 col-sm-6 text-center">
      <img src="images/8-blueswirl.jpg" class="roundeddd cust-round img-fluid">
      <span class="cust-label">Blue swirl</span>
      <span class="label-rs">Rs.80</span>
      </div>
        
    </div><!--end of row-->
    </div><!--end of container-->
    </div><!--end of container-fluid-->
    <!-- END of GREAT OPTIONS TO CHOOSE -->
    
    
    <!-- START of LIME LIGHT -->
	<div class="container" id="nav2">
    <div class="row cust-row2-pad">
    <h1 class="cust-h1">LIME LIGHT</h1>
    <div class="col-lg-12 cust-textalign">
    <p><button type="button" class="btn btn-outline-danger cust-borderradius">JUICES</button>
       <button type="button" class="btn btn-outline-danger cust-borderradius">SMOOTHIES</button>
       <button type="button" class="btn btn-outline-danger cust-borderradius">SHAKES</button>
    </p>
    </div><!--end of collg12-->
    <hr class="cust-hr">
     
    <div class="col-lg-4 cust-limepad">
    <div class="card text-center cust-borderradius mx-auto" style="width: 20rem;">
 	<div class="card-body cust-cardpad">
    <img src="images/9-strawberry.png" class="img-fluid cust-shadow cust-width">
    <h5 class="card-titleee cust-cardtitle">STRAWBERRY</h5>
    <p class="card-text">Rs.60</p>
    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
  	</div>
	</div><!--end of card text-center-->
    </div><!--end of col-lg-4-->
     
    <div class="col-lg-4 cust-limepad">
    <div class="card text-center cust-borderradius mx-auto" style="width: 20rem;">
 	<div class="card-body cust-cardpad">
    <img src="images/10-mint.png" class="img-fluid cust-shadow cust-width">
    <h5 class="card-titleee cust-cardtitle">MINT</h5>
    <p class="card-text">Rs.40</p>
    </div>
	</div><!--end of card text-center-->
    </div><!--end of col-lg-4-->
     
    <div class="col-lg-4 cust-limepad">
    <div class="card text-center cust-borderradius mx-auto" style="width: 20rem;">
 	<div class="card-body cust-cardpad">
    <img src="images/11-orange.png" class="img-fluid cust-shadow cust-width">
    <h5 class="card-titleee cust-cardtitle">ORANGE</h5>
    <p class="card-text">Rs.30</p>
    </div>
	</div><!--end of card text-center-->
    </div><!--end of col-lg-4-->
    </div><!--end of row cust-row2-pad-->
    </div><!--end of container-->
    <!-- END of LIME LIGHT -->
    
 
 	<!-- START of SMOOTHIE OF THE WEEK -->
	<div class="container-fluid cust-fluid2">
    <div class="container">
    <div class="row cust-row-pad">
    	<h1 class="cust-h1second">SMOOTHIE OF THE WEEK</h1>
        <span class="cust-herelabel">HERE PRESENTING</span>
      <div class="col-lg-12 cust-textalign">
      <img src="images/12-smoothie_of_week.png" width="100" class="img-fluid cust-shadow2">
      <p><a class="btn btn-lggg btn-primary2 cust-btn-main2" href="#" role="button">READ MORE</a></p>
      </div> 
    </div><!--end of row-->
    </div><!--end of container-->
    </div><!--end of container-fluid-->
    <!-- END of SMOOTHIE OF THE WEEK -->
    
    
    <!-- START of GALLERY -->
	<div class="container" id="nav3">
    <div class="row cust-row2-pad">
    <h1 class="cust-h1third">GALLERY</h1>
    <hr class="cust-hr">
     
    <div class="col-lg-3 col-6 text-center cust-gallerypad">
    <img src="images/13-gallery1.jpg" class="img-fluid">
    </div>
     
    <div class="col-lg-3 col-6 text-center cust-gallerypad">
    <img src="images/13-gallery2.jpg" class="img-fluid">
    </div><!--end of col-lg-3-->
     
    <div class="col-lg-3 col-6 text-center cust-gallerypad">
    <img src="images/13-gallery3.jpg" class="img-fluid">
    </div><!--end of col-lg-3-->
    
    <div class="col-lg-3 col-6 text-center cust-gallerypad">
    <img src="images/13-gallery4.jpg" class="img-fluid">
    </div><!--end of col-lg-3-->
    
    </div><!--end of row cust-row2-pad-->
    </div><!--end of container-->
    <!-- END of GALLERY -->
    
    <!-- START of CONTACT -->
	<div class="container-fluid cust-footerbanner" id="nav4">
    <div class="container">
    <div class="row cust-row-pad">
    	<h1 class="cust-h1fourth">CONTACT US</h1>
      <div class="col-lg-6 text-left cust-colpad-zero">
      <form class="cust-formpad">
      <div class="cust-divider">
  	  <div class="col-sm-8 cust-colpad-zero" style="margin-bottom: 2rem;">
      <label class="cust-formlabel" for="inputName">NAME</label>
      <input type="text" class="form-control cust-borderradius" id="inputName" style="border: none;">
      </div>
      <div class="col-sm-8 cust-colpad-zero" style="margin-bottom: 2rem;">
      <label class="cust-formlabel" for="inputEmail4">EMAIL</label>
      <input type="email" class="form-control cust-borderradius" id="inputEmail4" style="border: none;">
      </div>
      <div class="col-sm-8 cust-colpad-zero" style="margin-bottom: 2rem;">
      <label class="cust-formlabel" for="inputAddress">ADDRESS</label>
      <input type="text" class="form-control cust-borderradius" id="inputAddress" style="border: none;">
      </div>
      </div><!--end of cut-divider-->
      <button type="submit" class="btn btn-primary3 cust-btn-main2" href="#">SUBMIT</button>
      </form>
      </div><!--end of col-lg-6-->
      
      <div class="col-lg-6 text-right cust-addressfont">
      <a class="cust-mail" href="mailto:jc_juices@gmail.in">jc_juices@gmail.in</a><br><br>
      <address> Scheme no.114, part-1,<br>
	  Indore- 452010<br><br>
      343544378, +913983884899
      </address>
      <div class="social-icons">
      	<ul>
            <li><i class="fa fa-twitter-square" aria-hidden="true"></i></li>
            <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
            <li><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
        </ul>
      </div>
      </div><!--end of col-lg-6 text-right cust-addressfont -->
      <div class="col-lg-12 cust-allrightfont">
      <span>All right reserved. Designed by  SOUMYA.</span>
      <span class="float-right"><a class="btn btn-primary2 cust-top-btn" href="#" role="button"><i class="fa fa-caret-up" aria-hidden="true"></i></a></span>
      </div> 
    </div><!--end of row-->
    </div><!--end of container-->
    </div><!--end of container-fluid-->
    <!-- END of CONTACT -->
    




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
